@import "src/variables";

.root {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #292929;
  display: flex;
  width: fit-content;
  border-radius: 2px;
  overflow: hidden;
  height: 69px;
  padding-right: 5px;

  @media only screen and (max-width: $extraExtraLargeDisplay) {
    height: 69px;
  }
  @media only screen and (max-width: $extraLargeDisplay) {
    height: 48px;
  }
  @media only screen and (max-width: $largeDisplay) {
    height: 28px;
  }

}

.iconWrapper {
  background-color: #242424;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 35px;
  @media only screen and (max-width: $extraLargeDisplay) {
    width: unset;
    max-width: 30px;
  }
}

.status {
  min-width: 4px;
}

.info {
  margin-left: 10px;
  padding: 4px 5px 4px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  color: $textColor;
  font-size: 15px;

  @media only screen and (max-width: $extraLargeDisplay) {
    font-size: 10px;
  }
  @media only screen and (max-width: $largeDisplay) {
    font-size: 10px;
  }
}

.desc {
  color: $titleColor;
  font-size: 14px;
  @media only screen and (max-width: $extraLargeDisplay) {
    font-size: 10px;
  }
  @media only screen and (max-width: $largeDisplay) {
    font-size: 8px;
  }
}
