$boxShadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.09);

$headerColor: #094e87;
$avatarBgColor: #202020;

$primaryColor006: rgba(18,18,18,00.6);
$primaryColor072: rgba(18,18,18,0.72);
$primaryColor04: rgba(18,18,18,0.4);
$primaryColor07: rgba(18,18,18,0.7);
$primaryColor: rgba(18,18,18,1);
$secondaryColor: #0f6ebe;

$tableCellColor: #121212;

$buttonTextColor: #999999;
$titleColor: #717171;
$textColor: #e6e6e6;
$borderColor: #080808;

$selectColor: #102232;

$extraExtraLargeDisplay: 2160px;
$extraLargeDisplay: 1440px;
$largeDisplay: 1280px;
$mediumDisplay: 1080px;


$fontLight: 'Poppins-Light';
$fontRegular: 'Poppins-Regular';
$fontMedium: 'Poppins-Medium';
$fontBold: 'Poppins-Bold';

$errorColor: coral;